{% extends "dbManpulation/base.html" %}

{% block title %}Login - Horse Management{% endblock %}

{% block content %}

<h2>Welcome</h2>
<p>Please log in as Admin, or continue as Guest.</p>

{% if message %}
    <div class="msg"
         style="border:1px solid {% if error %}#c88{% else %}#8c8{% endif %};
                background:{% if error %}#ffe8e8{% else %}#e8ffe8{% endif %};">
        {{ message }}
    </div>
{% endif %}

<form method="post" class="card">
    {% csrf_token %}
    <h3 style="margin-top:0; text-align:center;">Admin Login</h3>
    <p>username: admin</p>
    <p>Password: 123</p>


    <label class="block-label">Username</label>
    <input name="username" type="text" required class="input-field">

    <label class="block-label">Password</label>
    <input name="password" type="password" required class="input-field">

    <button type="submit" class="primary-btn">Log in as Admin</button>
</form>

<div style="text-align:center;">
    <p>Or continue as guest:</p>
    <a class="button" href="/guest/">Browse as Guest</a>
</div>

{% endblock %}
