{% extends "dbManpulation/base.html" %}

{% block title %}Winning Trainers{% endblock %}

{% block content %}
<h1>Trainers With First-Place Horses</h1>

<table>
    <thead>
        <tr>
            <th>Trainer First</th>
            <th>Trainer Last</th>
            <th>Horse Name</th>
            <th>Race Name</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            <td>{{ r.trainerFname }}</td>
            <td>{{ r.trainerLname }}</td>
            <td>{{ r.horseName }}</td>
            <td>{{ r.raceName }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No data.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
